<p>
    Con base en la predicci&oacute;n obtenida anteriormente,
    se recomienda a&ntilde;adir recursos de apoyo en la actividad analizada; una vez inclu&iacute;dos los recursos,
    se ejecuta nuevamente el proceso de negocio para visualizar, a partir de su nuevo log de ejecuci&oacute;n,
    las mejoras obtenidas en la cantidad de solicitudes en cola que procesa la actividad.
</p>
<p>
    A continuaci&oacute;n se muestra el log de ejecucci&oacute;n obtenido de la actividad <b>'Realizar confecciones'</b>.
    Se presenta las fechas correspondientes, n&uacute;mero del d&iacute;a de la semana (1: Lunes - 7: Domingo),
    horas laboradas por d&iacute;a y principalmente, los resultados de la longitud de cola obtenida.
</p>
<table class="table table-stripped">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">D&iacute;a</th>
            <th scope="col">Horas laborales</th>
            <th scope="col">Longitud de cola</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of executionLogList">
            <td> {{ item.date }} </td>
            <td> {{ item.day }} </td>
            <td> {{ item.hours_day }} </td>
            <td> {{ item.request }} </td>
        </tr>
    </tbody>
</table>
<div *ngIf="showLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>