<div class="container" *ngIf="!showLoading">
    <p>
        El modelo de regresi&oacute;n con la m&eacute;trica de rendimiento m&aacute;s alta, es seleccionado; 
        este se entrena y se realiza validaci&oacute;n cruzada para obtener el rendimiento esperado en producci&oacute;n.
    </p>
    <p>A continuaci&oacute;n se presenta el resultado de las m&eacute;tricas.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Modelo</th>
                <th scope="col"> {{ RegModelMetrics.name }} </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>R Squared</td>
                <td> {{ RegModelMetrics.R_Squared }} </td>
            </tr>
            <tr>
                <td>Adjusted R Squared</td>
                <td> {{ RegModelMetrics.AdjustedR_Squared }} </td>
            </tr>
            <tr>
                <td>RMSE</td>
                <td> {{ RegModelMetrics.RMSE }} </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="showLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>

<div *ngIf="!showLoading">
    <p>
        Los resultados de la predicci&oacute;n obtenida, junto a sus fechas correspondientes, d&iacute;a de la semana (1: Lunes - 7: Domingo) y horas laboradas por d&iacute;a, se muestran a continuaci&oacute;n.
    </p>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">D&iacute;a</th>
                <th scope="col">Horas laborales</th>
                <th scope="col">Predicci&oacute;n - Longitud de cola</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of predictionsList">
                <td> {{ item.predDate }} </td>
                <td> {{ item.weekday }} </td>
                <td> {{ item.workingHours }} </td>
                <td> {{ item.prediction }} </td>
            </tr>
        </tbody>
    </table>
</div>