<div>
    <p> 
        La informaci&oacute;n presentada se obtiene una vez ejecutado el proceso de negocio 
        'Realizaci&oacute;n de confecciones' y analizar a detalle la actividad humana <b>'Realizar confecciones'</b>, 
        de la cual se extrae su log de ejecuci&oacute;n, se estructura el dataset para realizar el pre-procesamiento y
        se entrenan diferentes modelos de regresi&oacute;n. 
    </p>
    <p>
        La tabla a continuaci&oacute;n, muestra una lista de modelos de regresi&oacute;n 
        con sus respectivas m&eacute;tricas de rendimiento, ordenadas de mayor a menor valor, 
        siendo el primer regresor en la lista, el que tiene la m&eacute;trica m&aacute;s alta.
    </p>
</div>
<table class="table table-stripped">
    <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Adjusted R-Squared</th>
            <th scope="col">R-Squared</th>
            <th scope="col">RMSE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of modelsList; let primero = first" [ngClass]="{resaltar:primero}">
            <td> {{ item.modelName }} </td>
            <td> {{ item.adjustedR_squared }} </td>
            <td> {{ item.r_squared }} </td>
            <td> {{ item.rmse }} </td>
        </tr>
    </tbody>
</table>
<div *ngIf="showLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>
