<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <h3 class="navbar-brand">Servicio Gesti&oacute;n de Cuellos de Botella</h3>
    </div>
</nav>
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <h5 style="color: white">  Men&uacute;  GCB</h5>
        </li>
        <li>
            <a (click)="cambioVista('modelosreg')">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Modelos de regresi&oacute;n
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a (click)="cambioVista('modelopred')">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text"> 
                Entrenar modelo de predicci&oacute;n
                </span>
            </a>
        </li>
     
        <li class="has-subnav">
            <a (click)="cambioVista('nuevoregistrodedatos')">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Nuevo registro de ejecuci&oacute;n
                </span>
            </a>
        </li> 
        <!--
    <li>
        <a href="#">
            <i class="fa fa-info fa-2x"></i>
            <span class="nav-text">
                Recomendaciones
            </span>
        </a>
    </li>
        -->
    </ul>
    </nav>
