<app-nav-menu (vista)="recibirVista($event)"></app-nav-menu>
<div class="container">
    <div *ngIf="varVista === 'modelosreg'">
        <app-models></app-models>
    </div>
    <div *ngIf="varVista === 'modelopred'">
        <app-predictmodel></app-predictmodel>
    </div>
    <div *ngIf="varVista === 'nuevoregistrodedatos'">
        <app-newdatalog></app-newdatalog>
    </div>
</div>